/* Search bar */

.advanced-search-bar {
    display: flex;
    margin-top: 12px;
    position: relative;
}

.advanced-search-input-box {
    display: flex;
    width: 250px;
    border: 1px solid #DFE3E8;
    border-radius: 4px;
    padding-left: 10px;
    height: 35px;
    background: white;
    align-items: center;
}

.advanced-search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 14px;
    color: #1C212F;
}

.advanced-search-input::nth-letter(2) {
    color: green
}

.advanced-search-input::placeholder {
    color: #8091A5;
    font-weight: 500;
}

.advanced-search-save {
    padding-right: 10px;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.advanced-search-save svg {
    width: 18px;
}

.advanced-search-save path {
    fill: #8091A5;
}

.advanced-search-save:hover path {
    fill: #1C212F;
}

/* Tags */

.advanced-search-tag {
    position: relative;
    border: 1px solid #DFE3E8;
    height: 35px;
    padding: 0 14px;
    line-height: 34px;
    background: white;
    border-radius: 4px;
    margin-left: 12px;
    user-select: none;
    cursor: pointer;
}

/* Tag name */
.ast-name {
    border: none;
    outline: none;
    padding: 0;
    font-size: 14px;
    color: #8091A5;
    font-weight: 600;
}

.advanced-search-tag:not(:hover) .advanced-search-tag-close {
    display: none;
}

.advanced-search-tag:hover, .advanced-search-tag.selected {
    border: 1px solid #1C212F;
}

.advanced-search-tag:hover input, .advanced-search-tag.selected input {
    color: #1C212F;
}

.advanced-search-tag-close {
    position: absolute;
    top: -4px;
    right: -4px;
    display: flex;
    border-radius: 99px;
    background: white;
}

.advanced-search-tag-close svg {
    width: 14px;
}

.advanced-search-tag-close path {
    fill: #8091A5;
}

.advanced-search-tag:hover svg path, .advanced-search-tag.selected svg path {
    fill: #1C212F;
}

/* Autofill */

.advanced-search-autofill {
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid #DFE3E8;
    border-radius: 4px;
    position: absolute;
    top: 43px;
    left: -1px;
    z-index: 1;
    padding: 8px 0;
}

.advanced-search-autofill > span {
    padding: 8px 16px 8px 16px;
    cursor: pointer;
}

.advanced-search-autofill > span:hover {
    background: #f7f7f7;
}